:root {
    font-family: sans-serif;
    font-size: 10pt;
    -webkit-user-select: none;
    user-select: none;

    --maincolor: #ff004c;
    --mainhovercolor: #cc003d;
    --lightcolor: hsla(0, 0%, 59%, 0.4);
    --menubackcolor: black;
    --menuforecolor: white;
    --menuhovercolor: #cc003d;
    --errorcolor: red;

    --padding: 0.25em 0.5em;
    --input-height: 1.5em;
    --hideLabels: none;
}

[tabindex="0"]:focus-within {
    outline: 0;
}

input:invalid, select:invalid, textarea:invalid {
    outline-color: var(--errorcolor);
    border-color: var(--errorcolor);
}

.maincolor:hover {
    background-color: var(--mainhovercolor) !important;
}

.stwsDark,
.stwsDark .stwsPanel,
.stwsDark .stwsTabs,
.stwsDark .stwsFullScreen,
.stwsDark #stwsPopup {
    color: white;
    background-color: rgb(62, 62, 62);
    color-scheme: dark;
}

.stwsLight,
.stwsLight .stwsPanel,
.stwsLight .stwsTabs,
.stwsLight .stwsFullScreen,
.stwsLight #stwsPopup {
    color: black;
    background-color: rgb(243, 243, 243);
    color-scheme: light;
}

html,
body {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

form.stwsHideLabels label span {
    display: var(--hideLabels);
}

li[selected]>div {
    color: white;
    background-color: var(--maincolor);
}

.stwsTabLabel[selected] {
    border-top: medium solid var(--maincolor);
    border-right: thin solid var(--lightcolor);
}

.stwsPanels i {
    border-left: medium solid transparent;
}

.stwsPanels i[selected] {
    border-left: medium solid var(--maincolor);
}

[tabindex]:not(.stwsTree):hover,
.stwsTree li>div:hover {
    color: white;
    background-color: var(--mainhovercolor);
}
.stwsTree div:focus {
    outline: none;
}

span.cut::before {
    content: "\f0c4";
    font: normal normal 100 1em/1 "Font Awesome 6 Pro";
    padding-right: 0.5em;
}

span.copy::before {
    content: "\f24d";
    font: normal normal 100 1em/1 "Font Awesome 6 Pro";
    padding-right: 0.5em;
}

textarea {
    resize: none;
    min-height: 5em;
}

iframe {
    position: relative;
    border: none;
    bottom: 0;
    right: 0;
}

iframe,
.ace {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 2em;
}

.stwsFullScreen {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.stwsLoading {
    text-align: center;
    padding: 2em 0;
}

.stwsPanels {
    display: grid;
    grid-template-rows: repeat(7, auto) 1fr repeat(1, auto);
    grid-template-columns: auto;
    background-color: rgb(50, 50, 50);
    color: rgb(128, 128, 128)
}

.stwsPanels i {
    padding: 0.5em 0.35em;
    cursor: pointer;
    font-size: 1.6em;
}

#stwsPopup {
    -webkit-user-select: none;
    user-select: none;
    min-width: 40em;
    min-height: 10em;
    padding: 0 0 1em 0;
    border: thin solid var(--lightcolor);
}

#stwsPopup h1 {
    background-color: var(--maincolor);
    font-size: 1.1em;
    font-variant: small-caps;
    font-weight: lighter;
    padding: 0.5em;
    margin: 0 0 0.5em 0;
}
#stwsPopup button {
    padding: 0.5em;
    min-width: 10ex;
    margin: 3px;
}

.stwsPanel:empty {
    width: 0px !important;
}

.stwsPanel h1:not(:has(i.fa-nothing)) {
    border-top: thin solid var(--lightcolor);
}

.stwsPanel h1 {
    font-size: 1.1em;
    font-variant: small-caps;
    font-weight: lighter;
    padding: var(--padding);
    margin: 0;
}

.stwsPanel h1>span {
    float: right;
}

.stwsPanel {
    position: relative;
    display: grid;
    grid-template-rows: 1fr auto auto;
    border-left: thin solid var(--lightcolor);
    border-right: thin solid var(--lightcolor);
}

.stwsPanel:not(:empty) {
    resize: horizontal;
    overflow: hidden;
    min-width: 25em;
}

.stwsPanel i {
    padding: 0.25em 0;
}

.stwsPanel table {
    width: 100%;
    border-collapse: collapse;
}

.stwsPanel tr:hover {
    background-color: var(--lightcolor);
    cursor: pointer;
}

.stwsStatusbar {
    display: grid;
    grid-column: 1 / 5;
    grid-row: 2;
    grid-template-columns: 2em 1fr 3em;
    color: white;
    background-color: var(--maincolor);
    padding: 0.5em;
}

.stwsBrowsebar {
    padding: 0.25em;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(5, min-content) 1fr;
}

.stwsBrowsebar>i:hover,
h1>span>i:hover {
    background-color: var(--lightcolor) !important;
    cursor: pointer;
}

.stwsBrowsebar i {
    cursor: pointer;
    font-size: 1.25em;
    padding: 0.2em;
}

.stwsBrowsebar input {
    padding: 0.25em;
    margin-top: -0.2em;
}

.stwsTabs {
    display: grid;
    grid-template-rows: auto 1fr;
    white-space: nowrap;
}

.stwsTabLabel {
    border-top: medium solid transparent;
    border-right: thin solid var(--lightcolor);
    display: inline-block;
    padding: 0.55em 1em;
    white-space: nowrap;
    cursor: pointer;
}

.stwsTabLabel .fa-times {
    padding-left: 1em;
    cursor: pointer;
}

.stwsTab {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0 0;
    vertical-align: middle;
    border-top: thin solid var(--lightcolor);
    padding-top: 0.25em;
}

.stwsTab:not([selected]) {
    display: none;
}

.stwsForm button {
    color: white;
    background-color: var(--maincolor);
    border: none;
}

.stwsForm ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.stwsForm li {
    padding: var(--padding);
    padding-top: 0;
    break-inside: avoid;
}

.stwsForm li select:not([multiple]) {
    height: calc(var(--input-height) + 0.5em);
}

.stwsForm li input,
.stwsForm li select,
.stwsForm li textarea,
.stwsForm li progress,
.stwsForm li meter,
.stwsForm li button {
    line-height: var(--input-height);
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    font-size: inherit;
}

.stwsForm input[type="checkbox"],
.stwsForm input[type="radio"] {
    width: auto;
}

.stwsForm textarea {
    font-family: var(--font-family);
    font-size: inherit;
    min-height: calc(3 * var(--input-height));
}

.stwsForm li>label[for] {
    display: inline-block;
    line-height: var(--input-height);
    vertical-align: top;
}

.fa-angle-right,
.fa-angle-down {
    cursor: pointer;
}

article {
    display: grid;
    grid-auto-rows: min-content;
    overflow: auto;
}

article:has(> :last-child:nth-child(2)) {
    grid-template-rows: min-content auto;
}

article:has(> :last-child:nth-child(3)) {
    grid-template-rows: min-content min-content auto;
}

article:has(> :last-child:nth-child(4)) {
    grid-template-rows: min-content min-content auto min-content;
}

.stwsTree ol {
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.stwsTree li>div {
    padding: 0 0.5em;
    line-height: 1.75em;
}

.stwsTree li>div>span:last-child {
    float: right;
}

.stwsTree>ol {
    overflow: auto;
}

ol.stwsT li.stwsT:not([selected]) ol.stwsT li:not(.stwsT)>div {
    display: none;
}

li[data-type]>div>span:nth-child(2)::before {
    display: inline-block;
    padding-right: 0.5em;
    font: normal normal 100 1em/1 "Font Awesome 6 Pro";
    text-align: center;
}

li[data-type=Webo]>div>span:nth-child(2)::before {
    content: "\f0c2";
    width:1em;
}

li[data-type=Area]>div>span:nth-child(2)::before {
    content: "\f07b";
    width:1em;
}

li[data-type=dir]>div>span:nth-child(2)::before {
    content: "\f07b";
    width:1em;
}

li[data-type=Page]>div>span:nth-child(2)::before {
    content: "\f15b";
    width:1em;
}

li[data-type=file]>div>span:nth-child(2)::before {
    content: "\f15b";
    width:1em;
}

li[data-type^=Content]>div>span:nth-child(2)::before {
    content: "\f2fa";
    width:1em;
}

li[data-type=Group]>div>span:nth-child(2)::before {
    content: "\f0c0";
    width:1em;
}

li[data-type=role]>div>span:nth-child(2)::before {
    content: "\f21d";
    width:1em;
}

li[data-type=ds]>div>span:nth-child(2)::before {
    content: "\f1c0";
    width:1em;
}

.stwsMenu nav {
    display: inline-block;
    background-color: var(--menubackcolor);
    color: var(--menuforecolor);
}

.stwsMenu nav ol {
    list-style-type: none;
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.stwsMenu .stwsVertical>ol,
.stwsMenu .stwsVertical>ol>li {
    width: 100% !important;
}

.stwsMenu .stwsVertical>ol>li>ol {
    display: block !important;
    width: 100% !important;
    border: none !important;
}

.stwsMenu nav div>span {
    display: inline-block;
    padding: 0 0 0 2em;
}

.stwsMenu:not(.stwsPopup) nav ol>li>ol {
    display: none;
    border: thin solid;
    position: absolute;
    left: 0;
}

.stwsMenu nav ol>li>ol>li>ol {
    left: 100%;
    top: 0;
}

.stwsMenu nav ol>li:hover>ol {
    background-color: var(--menuhovercolor);
    display: block;
}

.stwsMenu nav li {
    list-style: none;
    position: relative;
}

.stwsMenu nav li>ol>li {
    min-width: 12em;
}

.stwsMenu nav li>div {
    padding: 0.75em 1em;
    cursor: pointer;
    white-space: nowrap;
}

.stwsMenu nav div.checked:after {
    font: normal normal 100 1em/1 "Font Awesome 6 Pro";
    content: "\f00c";
    float: right;
}

.stwsMenu nav li>ol>li>div:not(:last-child):after {
    font: normal normal 100 1em/1 "Font Awesome 6 Pro";
    content: "\f0da";
    float: right;
}

.stwsMenu nav li:hover>div {
    background-color: var(--menubackcolor);
    color: var(--menuhover-color);
    opacity: 1;
}

.stwsMenu nav ol {
    background-color: var(--menubackcolor);
    color: var(--menucolor);
    opacity: 1;
}

#searchMode,
#replaceMode {
    position: absolute;
    right: 0.75em;
    line-height: 1.5em;
}

#searchMode span,
#replaceMode span {
    display: inline-block;
    width: 1.4em;
    text-align: center;
    padding: 0.25em;
}

#searchMode span[selected] {
    color: var(--maincolor);
}

#searchMode span:hover,
#replaceMode span:hover {
    background-color: var(--lightcolor);
}