:root {
    --specialColor: rgb(255, 0, 76);
    --dark: rgba(127, 127, 127, 0.2);
    --medium: rgba(127, 127, 127, 0.3);
    --light: rgba(127, 127, 127, 0.4);
    --highlight: rgba(127, 127, 127, 0.5);
    --padding: 0.5em;

    font-family: sans-serif;
    font-size: 10pt;
    color-scheme: dark;
}

html,
body {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}

td {
    padding: 0.25em 0.5em;
}

.stwPanel h1 {
    border-top: thin solid var(--light);
    font-size: 1.1em;
    font-variant: small-caps;
    font-weight: normal;
    padding: 0.5em;
    margin: 0;
}

.stwPanel h1>span {
    float: right;
}

.stwPanel h1>span>i:hover {
    background-color: var(--light);
    cursor: pointer;
}

textarea {
    resize: none;
}

iframe {
    position: relative;
    border: none;
    bottom: 0;
    right: 0;
}

body {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 2em;
}

iframe, .ace {
    width: 100%;
    height: 100%;
}

.stwPanels {
    background-color: var(--light);
    display: grid;
    grid-template-rows: repeat(7, auto) 1fr repeat(1, auto);
}

.stwPanels i {
    border-left: thin solid transparent;
    padding: 0.5em 0.25em;
    cursor: pointer;
    font-size: 2em;
}

.stwPanels i[selected] {
    border-left: thin solid;
}

.stwPanels i:hover {
    background-color: var(--highlight);
}

.stwPanel {
    display: grid;
    grid-template-rows: 1fr auto auto;
    background-color: var(--medium);
    animation: 3s infinite alternate slidein;

}

.stwPanel:not(:empty) {
    width: 20em;
}

.stwPanel i {
    padding: 0.25em 0;
}

.stwPanel table {
    width: 100%;
    border-collapse: collapse;
}

.stwPanel tr:hover {
    background-color: var(--highlight);
    cursor: pointer;
}

.stwStatusbar {
    grid-column: 1 / 5;
    grid-row: 2;
    background-color: var(--specialColor);
    padding: 0.5em;
}

.stwBrowsebar {
    font-size: 1.5em;
    padding: 0.25em;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(3, min-content) 1fr;
}

.stwTabs {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--dark);
    white-space: nowrap;
}

.stwTabLabel {
    display: inline-block;
    background-color: var(--light);
    padding: 0.55em 1em;
    white-space: nowrap;
    cursor: pointer;
}

.stwTabLabel[selected] {
    border-top: thin solid;
    background-color: inherit;
}

.stwTabLabel .fa-times {
    padding-left: 1em;
    cursor: pointer;
}

.stwTab {
    display: grid;
    grid-template-rows: auto 1fr;
    margin: 0 0;
    vertical-align: middle;
}

.stwTab:not([selected]) {
    display: none;
}

.stwVSplitter {
    background-color: var(--medium);
}

.stwForm form {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 0.5em;
}

.stwForm input,
.stwForm select,
.stwForm textarea {
    margin: 0.5em;
    padding: 0.25em;
}

.fa-angle-right,
.fa-angle-down {
    cursor: pointer;
}

.stwTree ul {
    list-style: none;
    margin: 0;
    padding: 0 0.25em;
    cursor: pointer;
}

.stwTree ul>li>ul>li {
    padding-left: 0.75em;
}

.stwTree li div {
    display: inline-block;
    padding: 0.25em;
}

.stwTree li div:hover {
    background-color: var(--highlight);
}

.stwTree .fa-angle-down,
.stwTree .fa-angle-right {
    padding: 0.25em 0;
}

.stwTree li[selected]>div {
    background-color: var(--dark);
}

.stwSite:before {
    font-family: "fontawesome";
    content: "\f105";
    cursor: pointer;
    float: left;
    padding: 0.5em;
}

.menu {
    display: inline-block;
}

.menu ul {
    display: flex;
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.menu div>span {
    display: inline-block;
    padding: 0 0 0 2em;
}

.menu ul>li>ul {
    display: none;
    border: thin solid;
    position: absolute;
    left: 0;
}

.menu ul>li>ul>li>ul {
    left: 100%;
    top: 0;
}

.menu ul>li:hover>ul {
    display: block;
}

.menu li {
    list-style: none;
    position: relative;
}

.menu li>ul>li {
    min-width: 12em;
}

.menu li>div {
    padding: 0.75em 1em;
    cursor: pointer;
    white-space: nowrap;
}

.menu div.checked:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    float: right;
}

.menu li>ul>li>div:not(:last-child):after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0da";
    float: right;
}

.menu li:hover>div {
    background-color: var(--menu-background-color);
    color: var(--menu-hover-color);
    opacity: 1;
}

.menu ul {
    background-color: var(--menu-background-color);
    color: var(--menu-color);
    opacity: 1;
}